@font-face {
  font-family: 'Calibri';
  src: local('Calibri'), url(./fonts/Calibri/Calibri.ttf) format('truetype');
}

@font-face {
  font-family: 'Cambria';
  src: local('Cambria'), url(./fonts/Cambria/Cambria-Font-For-Android.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Calibri', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.quill>.ql-toolbar:first-child {
  display: none !important;
}

#res {
  white-space: pre;
}

.ql-editor {
  white-space: normal;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
  content: '14px';
  font-size: 14px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: '16px';
  font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content: '18px';
  font-size: 18px !important;
}

label {
  width: 100%;
  text-align: left;
}

.blog-title {
  font-size: 31px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 0px;
  line-height: 35px;
  color: #c70c0c
}

.blog-poster-image {
  width: 100%;
  height: 300px;
  padding-top: 5px;
  padding-bottom: 25px;
}

.blog-list-title {
  font-size: 18px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #c70c0c
}

.blog-list-description {
  text-align: justify;
  font-size: 16px;
  margin-bottom: 40px;
  color: #525151;
  font-family: 'Calibri';
}

.blog-list-inner-card {
  margin: 4px;
  margin-top: -26px;
}

.blog-content {
  text-align: justify;
  font-family: 'Calibri';
}

a {
  text-decoration: none !important;
}


.poster-list-image {
  height: 175px;
  width: 100%;
  object-fit: cover;
  /* padding-top: 5px; */
  padding-bottom: 5px;
}

.blog-list-card {
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
  cursor: pointer;
}

.mt-4 {
  margin-top: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.blog-container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  min-height: 90vh;
}

@media only screen and (max-width: 600px) {
  .blog-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px
  }
}

.search-control {
  width: 200px !important;
}

#about {
  font-size: 18px;
}

#service-detail {
  font-size: 18px;
}

.blog-detail-description {
  color: #393839;
  font-size: 19px;
  padding-bottom: 15px;
  padding-top: 6px;
  font-weight: bold;
  text-decoration: underline;
}

.blog-detail-last {
  color: #686868;
  /* margin-top: -10px; */
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
}

.blog-date-absolute {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.79);
  padding: 0px 3px;
  color: #575759;
  font-weight: bold;
}

.blog-date {
  color: #5a5a5a;
  /* font-weight: bold; */
  margin-top: 10px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  padding: 5px 0px;
  width: 91%;
  border-top: 1px solid #eaeaea;
}

.blog-list-category {
  position: absolute;
  padding: 5px;
  background-color: #9d2021;
  color: white;
}

.attachment {
  display: inline-block;
  margin-right: 14px;
  position: relative;
}

.attachment-img {
  height: 80px;
}

.download-icon {
  position: absolute;
  right: 0px;
  bottom: 2px;
}

.attachment-container {
  margin-top: 15px;
}

.attachment-pdf{
  height: 60px !important;
}

.contact .info a {
  /* padding: 0 0 0 17px; */
  margin-bottom: 0;
  font-size: 16px;
  color: #484848;
  display: block;
}